/* App.css */
/* Header styles */
.header {
  background-color: #000000; /* Black */
  padding: 12px 24px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-content {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* prevents breaking */
  gap: 8px;
}

.logo {
  height: 50px;
  width: auto;
  min-width: 24px;
}

.logo-wrapper {
  display: inline-flex;
  align-items: center;
}

.company-name {
  font-size: 17px;
  font-weight: 1;
  color: white;
  font-family: 'MBCorpo Text', sans-serif;
  white-space: nowrap;
  margin-left: 8px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f4f8;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  background-color: white;
  border-top: 4px solid #0a0a0a;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #2c3e50;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

textarea {
  resize: vertical;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

select {
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #2980b9;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #1f6391;
}

.feedback-list {
  list-style: none;
  padding: 0;
}

.feedback-item {
  background-color: #fafafa;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 16px;
}

.feedback-item p {
  margin: 4px 0;
}

.average-rating {
  font-weight: bold;
  color: #27ae60;
  margin-bottom: 16px;
}
